BREVO_API_KEY=YOUR_BREVO_API_KEY_HERE
BREVO_SENDER_NAME=AirOvex
BREVO_SENDER_EMAIL=no-reply@airovex.com
CONTACT_RECIPIENT_EMAIL=info@airovex.com
PORT=3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=airovex
SESSION_SECRET=change-me-to-a-long-random-string
ADMIN_EMAIL=your-email@gmail.com
ADMIN_PASS=lesco123
