BREVO_API_KEY=YOUR_BREVO_API_KEY_HERE
BREVO_SENDER_NAME=Frostoza AC
BREVO_SENDER_EMAIL=allahdittaca2@gmail.com
CONTACT_RECIPIENT_EMAIL=allahdittaca2@gmail.com
PORT=3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=frostozaac
SESSION_SECRET=change-me-to-a-long-random-string
ADMIN_EMAIL=your-email@gmail.com
ADMIN_PASS=lesco123
